body {
    background-color:slateblue;
    overflow: auto;
}

header, main, footer {
    width: auto;
    background-color: darkslateblue;
    outline: .1em solid darkslateblue;
    margin: 2vh 2vw;
    padding: 2vh 2vw;
}
header {
    height: auto;
}
main {
    height: auto;
}
footer {
    text-align: center;
    height: auto;
}
a, h1, h2, h3, h4, h5, h6, p {
    text-decoration: none;
    color: gainsboro;
}
ion-icon {
    font-size: large;
    margin: auto;
    padding: 0 2vw;
    color: gainsboro;

}
button {
    background-color: steelblue;
    max-width: 100%;
}
section {
    display:inline-flex;
    flex-direction:column;
}
.topButton {
    display: inline-flex;
    flex-direction: row row-reverse;
    background-color:lightsteelblue;
    outline: .15em solid darkslategray;
    width: auto;
    height: auto;
    margin: 1vh 1vh ;
    padding: 1vh 1vh;
    text-align: center;
    font-size: 32px;
}
.topButton:hover {
    background-color:aliceblue;
    outline: .2em solid darkslategray;
}
tr {
    height: auto;
}
#moveBox{
    position: relative;
    height:50px;
    width: 50px;
    border-radius: 50%;
    background-color: red;    
    animation: box;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
#moveBox:active {
    animation: box;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.homeLogo {
    position: relative;
    margin-left: 50px;
    animation-name: spin;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.homeLogo:active {
    animation-name: spin;
    animation-duration: 2s;
    animation-timing-function: linear;
}
@keyframes box {
    0% {
        left: 0px;
        top: 0px;
    }
    50% {
        background-color:blue;
        transform: skew(40deg, 40deg);
        left: 50px;
        top: 100px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}
@keyframes spin {
    0% {
        left: 0px;
        opacity: 100%;
    }
    50% {
        left: 200px;
        opacity: 0%;
    }
    100% {
        left: 0px;
        opacity: 100%;
    }
}
.bingo {  
    overflow: auto;
    border: 5px solid darkslategray;
    background-color: slategray;
    width: 500px;
    height: auto;

}
.bingo tr {
    align-content: center;
}
.bingo td {
    font-family: Arial, Helvetica, sans-serif;
    border: 3px dashed darkslategray;
    padding: 5%;
    text-align: center;
    width: 25%;
    height: auto;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: darkslateblue;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: aliceblue;
    color: darkslategray;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: steelblue;
    color: aliceblue;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  .responsive {
    max-width: 100%;
    height: auto;
  }
.contact {
    width:  64px;
    height: 64px;
    padding: .1vh 1vw;
    margin: .1vh 1vw;
    display: inline-flex;
    flex-direction: row-reverse;
}