body {
    background-color:slateblue;
    overflow: auto;
}

header, main, footer {
    width: auto;
    background-color: darkslateblue;
    outline: .1em solid darkslateblue;
    margin: 2vh 2vw;
    padding: 2vh 2vw;
}
header {
    height: auto;
}
main {
    height: auto;
}
footer {
    text-align: center;
    height: auto;
}
a, h1, h2, h3, h4, h5, h6, p {
    text-decoration: none;
    color: gainsboro;
}
ion-icon {
    font-size: large;
    margin: auto;
    padding: 0 2vw;
    color: gainsboro;
}
button {
    background-color: steelblue;
    max-width: 100%;
}
button:hover {
    box-shadow: 0 0 .4vh .2vw gainsboro;
}
section {
    display:inline-flex;
    flex-direction:column;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: darkslateblue;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: gainsboro;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: gainsboro;
    color: darkslategray;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: steelblue;
    color: gainsboro;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  .responsive {
    max-width: 100%;
    height: auto;
  }
  .responsive:hover {
    box-shadow: 0 0 .6vh .3vw gainsboro;
}
.colab:hover {
    box-shadow: 0 0 .4vh .2vw gainsboro;
}
.contact {
    width:  64px;
    height: 64px;
    padding: .1vh 1vw;
    margin: .1vh 1vw;
    display: inline-flex;
    flex-direction: row-reverse;
}
