html {
	font-family: 'Mona Sans';
  }
  h1,h2,h3,h4,h5,h6,a {
	font-family: 'Hubot Sans';
  }
/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
    /* colors */
    --clr-dark: midnightblue;
    --clr-light: cornflowerblue;
    --clr-white: powderblue;
    --clr-accent: deepskyblue;

    /* font-sizes */
    --fs-900: 9.375rem;
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
}
/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    /*box-sizing: border-box;*/
    scroll-behavior: smooth;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* make images easier to work with */
img,
picutre {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* ------------------- */
/* Utility classes     */
/* ------------------- */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}
/* colors */

.bg-dark { background-color: var(--clr-dark);}
.bg-accent { background-color: var(--clr-light);}
.bg-white { background-color: var(--clr-white);}

.text-dark { color: hsl( var(--clr-dark) );}
.text-accent { color: hsl( var(--clr-light) );}
.text-white { color: hsl( var(--clr-white) );}

*{
    display: flexbox;
    flex: 0 1 auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}
/*html {
    max-width: 100ch;
    padding: 3em 1em;
    margin: auto;
    line-height: 1.75;
    font-size: 1.25em;
  }*/
body {
    background-color:var(--clr-light);
    margin: 0px;
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    color: hsl( var(--clr-white) );
    background-color: hsl( var(--clr-dark) );
    line-height: 1.5;
    min-height: 100vh;
    background-color: var(--clr-light);
}
header, main, footer {
    height: 80%;
    background-color: var(--clr-light);
    text-align: center;
    padding: 1em;
    width: 100%;
}
header {
    padding: 0em .5em 8em .5em;
    width: fit-content;
    height: fit-content;
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-self: center;
    background-color: var(--clr-accent);
    border-bottom: .5em solid var(--clr-dark);
    border-radius: 0 0 50% 50%;
    margin-left: auto;
    margin-right: auto;
}
main {
    padding-inline: 0;
    margin-inline: auto;
    scroll-snap-type: y mandatory;
    /*max-width: 38rem;
    padding: 2rem;
    margin: auto;*/
}
footer {
    position: relative;
    /*min-width: min-content;*/
    height: 10%;
    text-align: center;
    justify-content: center;
    justify-self: center;
    background-color: var(--clr-accent);
    border-top: .5em solid var(--clr-dark);
    width: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50% 50% 0 0;
    letter-spacing: 0.1em;
  }
a, h1, h2, h3, h4, h5, h6, p {
    text-decoration: none;
    color: var(--clr-dark);
}
h1 {
    font-size: var(--fs-800);
}
h2 {
    font-size: var(--fs-600);
}
h3 {
    font-size: var(--fs-500);
}
h4, h5, h6, p {
    font-size: var(--fs-400);
}

img, video {
    max-width: 100%;
    height: auto;
    margin: .1em;
    margin-left: auto;
    margin-right: auto;
}
ion-icon {
    margin: auto;
    padding: 0 .3em;
    color: var(--clr-dark);
    font-size: var(--fs-600)
}

header nav ion-icon {
    position: relative;
    margin-top: .2em;
}
/*header nav {
    display: flex;
    position: relative;
    min-width: fit-content;
    width: 35%;  
    border-radius: 15%;
    padding: 1em;
    justify-content: center;
    position: relative;
    margin: auto;
    min-width: fit-content;
    height: 10%;
    text-align: center;
    justify-self: center;
  }*/
header nav a{
    display: inline;
    color: var(--clr-dark);
    background-color: var(--clr-light);
    text-align: center;
    padding: 0em .2em;
    margin: .1em;
    text-decoration: none;
    border-radius: 15%;
    border: .2em solid var(--clr-dark);
    width: 6em;
    /*min-width: fit-content;*/
    min-height: fit-content;
  }
  nav {
	padding: 0em .25em;
    width: fit-content;
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-self: center;
    background-color: var(--clr-accent);
    border-bottom: .5em solid var(--clr-dark);
    border-radius: 10% / 30%;
    margin-left: auto;
    margin-right: auto;    
    /*display: flex;
    position: relative;
    min-width: fit-content;
    width: 35%;  
    border-radius: 15%;
    padding: 1em;
    justify-content: center;
    position: relative;
    margin: auto;
    min-width: fit-content;
    height: 10%;
    text-align: center;
    justify-self: center;*/}
header nav a:hover {
    background-color: var(--clr-white);
  }
header nav a.active {
    background-color: var(--clr-white);
    color: var(--clr-dark);
  }
p {
    max-width: 60em;
    margin: auto;
}
  button {
	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:10%/ 30%;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color: hsl( var(--clr-dark) );
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
    margin: .1em;
}
button:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
button:active {
	position:relative;
	top:1px;
}

ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    overflow: auto;
}
li {
    list-style: none;
    align-items: center;
    margin: .5em;
    gap: .5em;
    /*filter: drop-shadow(.2em .4em .8em #222);*/
    border: .25em solid var(--clr-dark);
    padding: .25em 0;
    scroll-snap-align: start;
    max-width: fit-content;
    background: var(--clr-accent);

    position: relative;
    overflow: hidden;
    width: 100%;
    /*padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
.iframeContainer {
    max-width: 100%;
	padding-top: 56.25%;
	position: relative;
	width: 100%;
    overflow: hidden;
}
.iframeContainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
hr {
    border: .45em solid var(--clr-dark);
    width: 100%;
    margin: 1em;
    /*border-radius: 10%/30%;*/
}
.tab {
    overflow-x: hidden;
}
ul {overflow-x: hidden;}
.rules, .game {
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    width: 100%;
    border-radius: 10px;
    flex-direction: column;
    height: auto;
    border: none;

    display: grid;
    grid-template-columns: repeat(32%, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

div.tab-frame input{ display:none;}
div.tab-frame label{ 
    display:block;
    float:left;
    padding:5px 10px;
    margin: .5em; 
    cursor:pointer;
    box-shadow: 3px 4px 0px 0px var(--clr-dark);
    border-radius: 15%;
    border: .05em solid var(--clr-dark);
}
div.tab-frame input:checked + label{ 
    background:var(--clr-accent); 
    color:white; 
    cursor:default
}
div.tab-frame div.tab{ display:none; padding:5px 10px;clear:left}

div.tab-frame input:nth-of-type(1):checked ~ .tab:nth-of-type(1),
div.tab-frame input:nth-of-type(2):checked ~ .tab:nth-of-type(2),
div.tab-frame input:nth-of-type(3):checked ~ .tab:nth-of-type(3){ display:block;}

/*body{width:600px;margin:20px auto;}*/