/*Calculator*/
div{
	background-color: #334d4d;
	margin: 50px;
	width: 350px;
	height: 550px;
	margin: 0 auto;			/* horizontally centreing an element */
	border-radius: 20px;
	padding: 10px;
}
#screen {
	width: 10em;
	height: 2em;
	border-radius: 2em;
	font-size: xx-large;
	color: midnightblue;
	text-align: center;
    margin-right: auto;
	margin-left: auto;
    background-color: powderblue;
}
table{
	
	margin: 0 auto;
	margin-top: 1em;
	margin-right: auto;
	margin-left: auto;
	border-radius: 2em;
    border: .5em solid midnightblue;
}
td{
    background-color: powderblue;
	width: 3em;
	height: 2em;
	text-align: center;
	font-size: xx-large;
    color: midnightblue;
    border-radius: 2em;
    border: .15em solid midnightblue;
}

.orange{
	width: 4em;
    color:orangered
}

td:active{
	background-color: cornflowerblue;
	border-radius: 2em;
}